<html>

<head>

<title>
</title> 
    <style type="text/css">
        body {font-family: Arial; letter-spacing: 0; line-height: 1.3em; font-size: 1em;}
        img {display: block; margin: 5px auto; text-align:center;}
        hr {page-break-after:always;display: none;}
        h1 {line-height:1.6em;}
        h1,h2,h3 {page-break-after:avoid; text-align:center;}
        h4 {margin-bottom: 0px; margin-left: 5px;}
        .large {font-size:200%; font-weight:bold;}
        .medium {font-size:130%;}
        .center {text-align:center;}
        
    </style>

    <style type="text/css" media="amzn-kf8" [or "not amzn-kindle"]>
        .reply-border {border-left: 5px solid #000;}
        .reply-body {margin-top: 0px; margin-left: 5px;}
     </style>

</head>
 
<body>
    <br>
    <p class='center large'>{{submission.title}}</p>
    <br>
    <p class='center medium'>{{submission.author}} | {{submission.ups}} &#9650; {{submission.downs}} &#9660;</p>
    <mbp:pagebreak>

    {% if submission.selftext %}
    <h2>{{submission.title}}</h2>
    <br>
    <p style="text-indent:0">{{submission.selftext}}</p>
    <mbp:pagebreak>
    {% endif %}
     
    {% for comment in submission_comments %}
        <h3>{{comment.author}} | {{comment.ups}} &#9650; {{comment.downs}} &#9660;</h3>
        <p style="text-indent:0">{{comment.body}}</p>
        {% if comment.reply_author %}
        <div class="reply-border">
            <h4>Reply by: {{comment.reply_author}}</h4>
            <p class="reply-body" style="text-indent:0">{{comment.reply_body}}</p>
        </div>
        {% endif %}
        <mbp:pagebreak>
    {% endfor %}

</body>
</html>